[submodule "42-libft"]
	path = 42-libft
	url = git@github.com:Anesles/42-libft.git
[submodule "minitalk/libft"]
	path = minitalk/libft
	url = git@github.com:Anesles/42-libft.git
[submodule "so_long/libft"]
	path = so_long/libft
	url = git@github.com:Anesles/42-libft.git
